body {
    width: 300px;
    padding: 10px;
    background-color: gainsboro;
    font-family: Arial, sans-serif;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}
button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #feb642;
    color: #232323;
    cursor: pointer;
}
.checkbox-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox-container input[type="checkbox"] {
    display: none;
}
.checkbox-container label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
}
.checkbox-container label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #feb642;
    background-color: #fff;
    border-radius: 4px;
}
.checkbox-container input[type="checkbox"]:checked + label:before {
    background-color: #feb642;
}
.checkbox-container input[type="checkbox"]:checked + label:after {
    content: '\2714';
    position: absolute;
    left: 5px;
    top: 1px;
    color: #fff;
    font-size: 14px;
}
#contextInput {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.message {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: opacity 0.5s ease, top 0.5s ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible;
}
